extends layout

block content
  .container
    .row
      .col-sm-9.col-md-7.col-lg-5.mx-auto
        .card.card-signin.my-5
          .card-body
            h1= message
            h2= error.status
            pre #{error.stack}
