form
  div.form-label-group
    label(for='title')
    input.form-control(type='text', placeholder='Title' name="title" value=article.title)
  div.form-label-group
    label(for='author')
    input.form-control(type='hidden', placeholder='Author_username' name="author" value=username)
  hr.my-4
  div.form-label-group
    label(for='author')
    input.form-control(type='hidden', placeholder='Author_g_name' name="author" value=g_name)
  hr.my-4
  div.form-label-group.container-body
    label(for='body')
    textarea(name="body", rows="8" cols="40")= article.body
  input(type="submit" class="btn btn-lrg btn-google btn-block text-uppercase")