form.form-signin(action="/login", method="post")
  .form-label-group
    label(for='title')
    input#inputtitle.form-control(type='text' placeholder='Title' name="title" value=article.title autofocus='')
  .form-label-group
    label(for='author')
    input#inputauthor.form-control(type='test' placeholder='Author' name="author" value=article.author)
  hr.my-4
  .form-label-group.center
    label(for='body')
    textarea(name="body" rows="8" cols="50")= article.body
input(type="submit" class="btn btn-lrg btn-google btn-block text-uppercase")