extends ../layout

block content
   
  div.subheader.text-center
    h1 Welcome, #{username} #{g_name}
    h1 Latest Kool Posts
    a(href="/articles/new", class="btn") Create Kool Post &#43;
  .container.cards
      each article in articles
        div
          article
              .card.card-signin.card-entry.my-3.card-body.text-center
                h2= article.title
                include by_line
                pre= article.shortDescription()
                a(href = "/articles/" + article.id class="btn") Read More &rarr;