extends ../layout

block content
  h2 Log In
  
  include errors
  
  form(action="/login", method="post")
    div
        label(for="username") Username:
        input(type="text", name="username")
    div
        label(for="password") Password:
        input(type="password", name="password")
    input(type="submit", value="login")
    a(href='/auth/google',  class="btn-new") Sign In with Google