extends ../layout

block content
  include errors
    .container
        .row
          .col-sm-9.col-md-7.col-lg-5.mx-auto
            .card.card-signin.my-5
              .card-body
                h2.text-center= title
                form.form-signin.my-3(action="/articles/new", method="post")
                  include form