extends ../layout

block content
   .container
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.card-signin.my-5
            .card-body.text-center
              h2= article.title
              include by_line
              pre= article.body
              btn-group
                a(href="/articles/" class="btn text-uppercase") &larr; Back 
                | | 
                a(href="/articles/" + article.id + "/edit" class="btn text-uppercase") Edit Article 
                | | 
                a(href="/articles/" + article.id + "/delete" class="btn text-uppercase") Delete Article
