extends ../layout

block content

  include errors
  
    .container
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.card-signin.my-5
            .card-body
              h5.card-title.text-center Sign Up
              form.form-signin(action="/sign-up", method="post")
                .form-label-group
                  label(for='username')
                  input#inputUsername.form-control(type='text' placeholder='Username' name="username" required='' autofocus='')
                .form-label-group
                  label(for='inputPassword')
                  input#inputPassword.form-control(type='password' placeholder='Password' name="password")
                input(type='submit', value="Sign Up", class="btn btn-lg btn-primary btn-block text-uppercase")